* {
    font-family: Helvetica;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande", Arial, sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #000;
}



ul li {
    margin-bottom: 0.5em;
}

/* custom styling */
.text-red-400 {
    color: rgb(248, 113, 113);
}






.site-header {
    border-bottom: 1px solid #ccc;
    padding: 0.5em;
    margin-left: 3em;
    margin-right: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-identity h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: .6em 0;
  display: inline-block;
}

.site-navigation ul, 
.site-navigation li {
  margin: 0; 
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
  font-weight: bold;
}

#main {
    display: flex;
    margin-right: 3em;
    margin-left: 3em;
}

.sidebar {
    width: 280px;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    opacity: 0.75;
    transition: opacity 0.2s ease-in-out;
    overflow-y: auto;
}
.sidebar:hover {
    opacity: 1;
}
.sidebar img {
    padding: 5px;
    border: 1px solid #cecfd1;
    max-width: 110px;
    border-radius: 50%;
    width: 100%;
}
.sidebar>* {
    margin-top: 1em;
    margin-bottom: 1em; 
    display: block;
    padding: 10px;
    margin-bottom: 10px;
}
.sidebar .author__name {
    font-size: 1em;
}

.sidebar li {
    list-style-type: none;
    font-size: 0.75em;
    line-height: 1.5;
}

.author__avatar {
    margin: 0em;
    padding: 0px;
}
.author__name {
    margin-top: 10px;
    margin-bottom: 0;
}
.author__bio {
    line-height: 1.25;
    font-size: 0.75em;
}
.author__content {
    margin-top: 0em;
    padding: 0px;
}
.author__urls-wrapper {
    margin: 0em;
    margin-bottom: 1em;
    padding: 0px;
}
.author__urls {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    box-shadow: none;
}
.author__urls li {
    white-space: nowrap
}

.content {
    flex: 1;
    box-sizing: border-box;
    height: 100vh;
    margin-left: 280px;
    text-align: justify;
}
.content h1 {
    line-height: 1;
    margin: 0.5em 0 0.5em;
}
.content p {
    margin-right: 1em;
}
.content.projects h3 {
    margin-bottom: 0;
}

.footer {
    font-size: .6875em;
}

/* contact.html */
.grid {
    display: flex;
    flex-direction: column;
}

.grid div {
    background-color: #ccc;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
}

.grid h2, p {
    margin: 0;
}
.grid ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.form-group {
    margin-bottom: 20px;
}
.form-container label {
    display: block;
    font-weight: bold;
    margin-top: .3em;
    margin-bottom: .3em;
}
.form-container input, textarea {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    resize: vertical;
}
.submit-button {
    padding: 10px 20px;
    background-color: #0dac30;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}