* {
    box-sizing: border-box;
}

div {
    display: block;

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: #222831;
}

.masthead {
    position: relative;
    border-bottom: 1px solid #cecfd1;
    z-index: 20;
}

.masthead__inner-wrap {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.masthead__menu {
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
}

.masthead__inner-wrap nav {
    z-index: 10;
}

.greedy-nav {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 2em;
    background: #eee;
}

.greedy-nav a.side-title {
    margin-left: 0;
}

.greedy-nav a {
    display: block;
    margin: 0 1rem;
    color: #222831;
    text-decoration: none;
    transition: none;
}

.site-title {
    display: flex;
    align-self: center;
    font-weight: bold; 
}

#main {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 100%;
}

.sidebar {
    clear: both;
}
.sidebar img {
    width: 100%;
}
.sidebar>* {
    margin-top: 1em;
    margin-bottom: 1em; 
}
.sidebar .author__name {
    font-size: 1em;
}

.author__avater {
    display: table-cell;
    vertical-align: top;
    width: 36px;
    height: 36px;
}

.author__content {
    display: table-cell;
    vertical-align: top;
    padding-left: 15px;
    padding-right: 25px;
    line-height: 1;
}

.author__urls-wrapper {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-align: 20;
    cursor: pointer;
}

.author__avater img {
    max-width: 110px; 
    border-radius: 50%;
}

a:visited {
    color: #575b62;
}

img {
    height: auto;
    vertical-align: middle;
    border: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
